//PREGUNTAS 
.accordion {
    width: 50em;
    background-color:map-get($background-color , "fondo-main" );
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.tarjetas-bancos {
    display: block;
    margin: auto;
        width: 70%;
}

//RESPONSIVE
.accordion{
    @include celular {
        width: 95%;
    }
}

