//EN ESTE ARCHIVO SE INCORPORA EL @MEDIA

/* PREGUNTAS */
.accordion {
    width: 50em;
    background-color:map-get($background-color , "fondo-main" );
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


//Responsive
.accordion{
    @include celular {
        width: 80%;
    }
}

.tarjetas-bancos {
    @include celular{
        width: 100%;
    }
}