//EN ESTE ARCHIVO SE INCORPORA EL @MEDIA

//PRODUCTOS





// .contenedor {
//     display: grid;
//     grid-template-columns: 14vw auto;
//     grid-template-rows: 80em auto;
// }

//FILTRO 
// .filtro {
//     background-color: #6DA0E2;

//     & strong {
//         display: inline-block;
//         margin-left: 30px;
//     }

//     & hr {
//         color: white;
//         width: 150px;
//         display: block;
//         margin: auto;
//     }
// }

// .marcas input {
//     display: inline-block;
//     margin-left: 30px;

// }

// .marcas span {
//     color: white;
// }

// .productos {
//     background-color:map-get($background-color , "fondo-main" );
//     & .tarjetas-pro {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         margin-top: 30px;
//     }
// }

// BARRA NUMERICA 
.paginacion ul {
    text-align: center;

    & li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

    & a {
        display: block;
        margin-top: 20px;
        padding: 5px 15px;
        font-size: 1.2rem;
        background-color: #ff990072;
        color: black;
    }

    & a:hover {
        background-color: #6DA0E2;
        color: white;
    }

    & li .active {
        background-color: #6DA0E2;
        color: white;
    }
}

