//PIE DE PAGINA
.pie-pagina {
    width: 100%;
    background-color: map-get($background-color , "pie-pagina");

    & .pie-pagina__info {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }

    & .pie-pagina__info .box figure {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    & .pie-pagina__info {
        .box figure img {
            width: 150px;
        }
    }
}

.pie-pagina .whatsapp img {
    width: 8%;
}

.pie-pagina .correo img {
    width: 8%;
}

.pie-pagina .pie-pagina__info .red-social a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;

}

.pie-pagina .pie-pagina__info .red-social img {
    margin-bottom: 15px;
}

.fa-linkedin {
    font-size: 30px;
    line-height: 20px;
    color: #0077B7;
    background-color: white;
}

.fa-square-facebook {
    font-size: 30px;
    line-height: 23px;
    color: #0077B7;
    background-color: white;
}

.pie-pagina,.politica-derechos {
    background-color: map-get($background-color , "pie-pagina");
    text-align: center;
    color: #fff;
}

.pie-pagina,.politica-derechos p {
    font-size: 0.7rem;
}

//RESPONSIVE
.pie-pagina .pie-pagina__info {
    @include celular() {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}