//MENU
header {
    background-color: map-get($background-color , "menu");
}

.logo--pet {
    margin-left: 20px;

    & img {
        width: 80px;
    }

    & h1 {
        color: map-get($colors, title);
        font-size: 0.9rem;
        text-align: center;
    }
}

nav {
    li {
        a {
            color: map-get($colors , "menu");
            text-decoration: none;
            font-size: 1.2rem;
            margin: 0 50px;

            &:hover {
                color: map-get($colors , "menu");
            }
        }
    }
}

::placeholder {
    color: map-get($colors , "buscador");
}

//RESPONSIVE

.logo--pet {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    @include celular {
        background-color: #EEBA49;
        border-radius: 5px;
        padding-bottom: 20px;
    }
}

.navbar li {
    @include celular {
        text-align: center;
        position: relative;
        left: 20px;
        top: 5px;
        margin: 10px 0px;
    }
}

.navbar-toggler {
    @include celular {
        background-color: white;
        margin-bottom: 60px;
        font-size: 15px;
    }
}