//ARCHIVOS DE DESPLEGABLES


/* ---MENU DESPLEGABLE--- */
.dropdown-menu {
    background-color:map-get($background-color , "menu" );


    & a {
        color: map-get($colors, "menu" );
        position: relative;
        right: 83px;
        bottom: 40px;
    }

    & a:hover {
        background-color: #eeba49e0;
        color: white;
    }
}

.dropdown-divider {
    background-color: white;
    position: relative;
    right: 43px;
    bottom: 40px;
    border-width: 2px;
}