/* PRODUCTOS DESTACADOS */
.tarjeta-padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta-hija {
    width: 186px;
    background-color: map-get($colors , "fondo-tarjetas");
    border-radius: 8px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px rgba(0, 0, 0, 0.273);
    }

    & img {
        width: 60%;
        display: block;
        margin: auto;
    }

    & button {
        background-color: map-get($background-color , "bloques-compra");
        border: none;
        border-radius: 3px;
        display: block;
        margin: auto;
    }

    & a {
        text-decoration: none;
    }
}

//RESPONSIVE
.tarjeta-hija:hover {
    @include celular {
        transform: none;
        box-shadow: none;
    }
}